.layout{
display:grid;
grid-template-areas:
"navbar navbar"
"sidebar main"
"footer footer";
grid-template-columns:180px 1fr;
grid-template-rows:60px 1fr 40px;
height:100vh;
}

/* NAVBAR */
.navbar{
grid-area:navbar;
}

/* SIDEBAR */
.sidebar{
grid-area:sidebar;
}

/* MAIN CONTENT */
.main-content{
grid-area:main;
background:#dcdcdc;
padding:20px;
width:100%;
}

/* FOOTER */
.footer{
grid-area:footer;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .layout {
    grid-template-columns:60px 1fr;
  }
}